@font-face {
  font-family: "Movement";
  font-size: 1em;
  font-weight: 200;
  src: url('fonts/Movement/MovementV.ttf');
}

:root{
  --font-size: 14px;
  --rose-fonce: #CB997E;
  --vert-kaki: #6B705C;
}

body{
  background-color: #FFF4EB;
}

.click{
  font-family: 'Montserrat';
  font-size: var(--font-size);
  font-weight: normal;
  color: #FFF;
  text-decoration: none;
  background-color: var(--rose-fonce);
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  /* background-color: #CB997E;
  padding: 10px 10px 10px 10px;
  border-radius: 50px; */
}

.titre{
  font-family: "Movement";
  width: 100vw;
  color: var(--rose-fonce);
}

.intro{
  font-family: "Montserrat";
  width: 50vw;
  margin-left: 25%;
  font-weight: 400;
  color: var(--vert-kaki);
  font-size: 0.75em;
}

.merci{
  font-family: "Montserrat";
  font-weight: 400;
  color: var(--vert-kaki);
  font-size: 1em;
  text-align: center;
}

p{
  font-family: "Movement";
  font-weight: 600;
  color: var(--vert-kaki);
  font-size: 0.75em;
  text-decoration: none;
}

.sous-nom:hover{
  font-family: "Movement";
  font-weight: 600;
  color: var(--rose-fonce);
  font-size: 0.75em;
  text-decoration: none;
}

#lettre{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 250px;
  grid-gap: 50px;
  clear: left;
  font-family: "Movement";
/*  padding: 0% 20% 0 20%;*/
flex-basis: 960px;
 margin: 0 auto;
  flex-shrink: 1;
  margin-bottom: 10vh;
}

.compolettre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

#progress{
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 2vh;
  transform-origin: 0 50%;
  transform: scaleX(0);
  background: #a5a58d;
  animation: 1s linear forwards adjust-progressbar;
  animation-timeline: progressbar-timeline;
}

@keyframes adjust-progressbar {
  from{
    transform: scaleX(0);
    }
  to{
    transform: scaleX(1);
  }
}

@scroll-timeline progressbar-timeline {
  time-range: 1s;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.filter_link{
display:block;
/*    float:left;
  width:10%;
  padding: 5px 0;*/
  text-decoration:none;
  text-align:center;
  padding-top: 30px;
  color: var(--rose-fonce);
  font-family: "Movement";
  font-weight: bold;
  flex-basis: 24vw;
  flex-shrink: 1;
}

/*.boutons{
display: flex;
justify-content: center;
align-items: center;
}*/

.images{
width: 200px;
}

div{
 width:100px;
 margin-top: 7%;
 text-align: center;
 font-size: 1.25rem;
}

@media screen and (max-width: 640px) {
  .filter_link {
    width:20%;
  }
}

a:focus[data-filter]{
    opacity:.8;
    outline:none;
}


div[data-filter="all"]{
}

div[data-filter="fleurs"]{
}

div[data-filter="plantes"]{
}

div[data-filter="outils"]{
}

a[data-filter="fleurs"]:focus ~ #lettre div:not([data-filter="fleurs"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  display: none;
}


a[data-filter="plantes"]:focus ~ #lettre div:not([data-filter="plantes"]){
    width:0;
  height:0;
  padding:0;
  margin:0;
  display: none;
}

a[data-filter="outils"]:focus ~ #lettre div:not([data-filter="outils"]){
    width:0;
  height:0;
  padding:0;
  margin:0;
  display: none;
}
