@font-face {
  font-family: "Movement";
  font-size: 1em;
  font-weight: 200;
  src: url('fonts/Movement/MovementV.ttf');
}

body{
  background-color: #FFF4EB;
}

.titre{
  font-family: "Movement";
  width: 100vw;
  color: #CB997E;
}

.intro{
  font-family: "Montserrat";
  width: 50vw;
  margin-left: 25%;
  font-weight: 400;
  color: #6B705C;
  font-size: 0.75em;
}

.merci{
  font-family: "Montserrat";
  font-weight: 400;
  color: #6B705C;
  font-size: 1em;
  text-align: center;
}

p{
  font-family: "Movement";
  font-weight: 600;
  color: #6B705C;
  font-size: 0.75em;
}

#lettre{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 250px;
  grid-gap: 50px;
  clear: left;
  font-family: "Movement";
  padding: 0% 20% 0 20%;;
}

.compolettre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.filter_link{
  display:block;
  float:left;
  width:10%;
  text-decoration:none;
  text-align:center;
  padding: 5px 0;
  padding-top: 30px;
  color: #CB997E;
  font-family: "Movement";
  font-weight: bold;
}

.boutons{
display: flex;
justify-content: center;
align-items: center;
}

.images{
width: 200px;
}

div{
 width:100px;
 margin-top: 7%;
 transition:all .5s linear;
 text-align: center;
 font-size: 1.25rem;
}

@media screen and (max-width: 640px) {
  .filter_link {
    width:20%;
  }
}

a:focus[data-filter]{
    opacity:.8;
     outline:none;
}


section[data-filter="all"]{
  background:#FF5733;
}

section[data-filter="fleurs"]{
  background:#FF5733;
}

section[data-filter="plantes"]{
  background:#FFC300;
}

section[data-filter="outils"]{
  background:#FFC300;
}

a[data-filter="fleurs"]:focus ~ .boutons section:not([data-filter="outils"] [data-filter="plantes"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  display: none;
}


a[data-filter="plantes"]:focus ~ .boutons section:not([data-filter="fleurs"] [data-filter="outils"]){
    width:0;
  height:0;
  padding:0;
  margin:0;
  display: none;
}

a[data-filter="outils"]:focus ~ .boutons section:not([data-filter="fleurs"] [data-filter="plantes"]){
    width:0;
  height:0;
  padding:0;
  margin:0;
  display: none;
}
